Cleaning & analyzing used car data from eBay Kleinanzeigen

In [192]:
import numpy as np
import pandas as pd

autos = pd.read_csv("autos.csv",encoding="latin1")

In [193]:
autos

autos.info()
autos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dateCrawled          371528 non-null  object
 1   name                 371528 non-null  object
 2   seller               371528 non-null  object
 3   offerType            371528 non-null  object
 4   price                371528 non-null  int64
 5   abtest               371528 non-null  object
 6   vehicleType          333659 non-null  object
 7   yearOfRegistration   371528 non-null  int64
 8   gearbox              351319 non-null  object
 9   powerPS              371528 non-null  int64
 10  model                351044 non-null  object
 11  kilometer            371528 non-null  int64
 12  monthOfRegistration  371528 non-null  int64
 13  fuelType             338142 non-null  object
 14  brand                371528 non-null  object
 15  notRepairedDamage    299468 non-null  object
 16  dateCreated          371528 non-null  object
 17  nrOfPictures         371528 non-null  int64
 18  postalCode           371528 non-null  int64
 19  lastSeen             371528 non-null  object
dtypes: int64(7), object(13)
memory usage: 56.7+ MB

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [194]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'kilometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [195]:
autos.columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'ab_test',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer_km', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'count_pictures', 'postal_code',
       'last_seen']

autos.head()

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,count_pictures,postal_code,last_seen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

Renamed columns to be in snakecase (vs. camelcase) and changed some names to be more descriptive

In [197]:
autos.describe(include="all")

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,count_pictures,postal_code,last_seen
count,371528,371528,371528,371528,3.715280e+05,371528,333659,371528.000000,351319,371528.000000,351044,371528.000000,371528.000000,338142,371528,299468,371528,371528.0,371528.00000,371528
unique,280500,233531,2,2,NaN,2,8,NaN,2,NaN,251,NaN,NaN,7,40,2,114,NaN,NaN,182806
top,2016-03-24 14:49:47,Ford_Fiesta,privat,Angebot,NaN,test,limousine,NaN,manuell,NaN,golf,NaN,NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:45:59
freq,7,657,371525,371516,NaN,192585,95894,NaN,274214,NaN,30070,NaN,NaN,223857,79640,263182,14450,NaN,NaN,17
mean,NaN,NaN,NaN,NaN,1.729514e+04,NaN,NaN,2004.577997,NaN,115.549477,NaN,125618.688228,5.734445,NaN,NaN,NaN,NaN,0.0,50820.66764,NaN
std,NaN,NaN,NaN,NaN,3.587954e+06,NaN,NaN,92.866598,NaN,192.139578,NaN,40112.337051,3.712412,NaN,NaN,NaN,NaN,0.0,25799.08247,NaN
min,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,1000.000000,NaN,0.000000,NaN,5000.000000,0.000000,NaN,NaN,NaN,NaN,0.0,1067.00000,NaN
25%,NaN,NaN,NaN,NaN,1.150000e+03,NaN,NaN,1999.000000,NaN,70.000000,NaN,125000.000000,3.000000,NaN,NaN,NaN,NaN,0.0,30459.00000,NaN
50%,NaN,NaN,NaN,NaN,2.950000e+03,NaN,NaN,2003.000000,NaN,105.000000,NaN,150000.000000,6.000000,NaN,NaN,NaN,NaN,0.0,49610.00000,NaN
75%,NaN,NaN,NaN,NaN,7.200000e+03,NaN,NaN,2008.000000,NaN,150.000000,NaN,150000.000000,9.000000,NaN,NaN,NaN,NaN,0.0,71546.00000,NaN
max,NaN,NaN,NaN,NaN,2.147484e+09,NaN,NaN,9999.000000,NaN,20000.000000,NaN,150000.000000,12.000000,NaN,NaN,NaN,NaN,0.0,99998.00000,NaN

Observations: 
*seller & offer_type look to have almost all the same value
*count_pictures doesn't appear to have any values

In [199]:
autos["count_pictures"].value_counts()

count_pictures
0    371528
Name: count, dtype: int64

In [200]:
autos = autos.drop(columns = ["seller", "offer_type", "count_pictures"])
autos.head()

,date_crawled,name,price,ab_test,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen
0,2016-03-24 11:52:17,Golf_3_1.6,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,60437,2016-04-06 10:17:21

In [201]:
odom_shape = autos["odometer_km"].unique().shape
odom_describe = autos["odometer_km"].describe()
odom_count = autos["odometer_km"].value_counts()

odom_count

odometer_km
150000    240797
125000     38067
100000     15920
90000      12523
80000      11053
70000       9773
60000       8669
50000       7615
5000        7069
40000       6376
30000       6041
20000       5676
10000       1949
Name: count, dtype: int64

Unusually high amounts of aggregation for size of dataset - seems like users were given pre-set categorization to fit their answer to. With this being a used car dataset, most cars naturally have odometer readings

In [203]:
price_shape = autos["price"].unique().shape
price_describe = autos["price"].describe()
price_count = autos["price"].value_counts()

price_count
price_describe

count    3.715280e+05
mean     1.729514e+04
std      3.587954e+06
min      0.000000e+00
25%      1.150000e+03
50%      2.950000e+03
75%      7.200000e+03
max      2.147484e+09
Name: price, dtype: float64

Unlike odometer readings, prices seem to be far more unique (not rounded into categories). Noting that there is a sizable amount of rows with 0 price, but maybe this is expected given this is a bidding site? Max seems unrealistically high given the 75 percentile.

In [205]:
price_sorted_high = autos["price"].value_counts().sort_index(ascending=False).head(50)
price_sorted_low = autos["price"].value_counts().sort_index().head(50)

price_sorted_high

price
2147483647     1
99999999      15
99000000       1
74185296       1
32545461       1
27322222       1
14000500       1
12345678       9
11111111      10
10010011       1
10000000       8
9999999        3
3895000        1
3890000        1
2995000        1
2795000        1
1600000        2
1300000        1
1250000        2
1234566        1
1111111        2
1010010        1
1000000        5
999999        13
999990         1
911911         1
849000         1
820000         1
780000         1
745000         2
725000         1
700000         1
650000         1
619000         1
600000         2
599000         1
585000         1
579000         1
517895         1
500000         2
488997         1
487000         1
485000         1
466000         1
445000         1
440000         1
420000         1
399997         1
395000         1
390000         1
Name: count, dtype: int64

In [206]:
price_sorted_low

price
0     10778
1      1189
2        12
3         8
4         1
5        26
7         3
8         9
9         8
10       84
11        5
12        8
13        7
14        5
15       27
16        2
17        5
18        3
19        3
20       51
21        1
24        1
25       33
26        1
27        1
29        2
30       55
32        1
33        1
35       18
38        1
39        6
40       45
45       16
47        1
49       12
50      327
55       20
58        1
59        6
60       58
65       19
66        2
69        3
70       69
74        1
75       54
77        1
79        4
80      146
Name: count, dtype: int64

There seems to be an odd grouping of rows priced at 999999 - this feels like an arbitrary number set by the seller & is meaningless (set just so the price is sitting under 1M). It makes sense to me to discard anything with a price of 0 (no price set, (or no bids?) as well as anything 999999 or greater.

In [208]:
autos = autos[autos["price"].between(1,999999,inclusive="left")]
autos["price"].describe()

count    360667.000000
mean       5949.583275
std       10504.118949
min           1.000000
25%        1250.000000
50%        3000.000000
75%        7490.000000
max      999990.000000
Name: price, dtype: float64

In [209]:
autos[["date_crawled", "last_seen", "ad_created"]][:5]

          date_crawled            last_seen           ad_created
0  2016-03-24 11:52:17  2016-04-07 03:16:57  2016-03-24 00:00:00
1  2016-03-24 10:58:45  2016-04-07 01:46:50  2016-03-24 00:00:00
2  2016-03-14 12:52:21  2016-04-05 12:47:46  2016-03-14 00:00:00
3  2016-03-17 16:54:04  2016-03-17 17:40:17  2016-03-17 00:00:00
4  2016-03-31 17:25:20  2016-04-06 10:17:21  2016-03-31 00:00:00

In [210]:
autos["date_crawled"].str[:10].value_counts(normalize=True, dropna=False).sort_index()

date_crawled
2016-03-05    0.025547
2016-03-06    0.014482
2016-03-07    0.035653
2016-03-08    0.033469
2016-03-09    0.034112
2016-03-10    0.032648
2016-03-11    0.032770
2016-03-12    0.036244
2016-03-13    0.015782
2016-03-14    0.036327
2016-03-15    0.033421
2016-03-16    0.030202
2016-03-17    0.031650
2016-03-18    0.013117
2016-03-19    0.035271
2016-03-20    0.036399
2016-03-21    0.035689
2016-03-22    0.032493
2016-03-23    0.032005
2016-03-24    0.029914
2016-03-25    0.032798
2016-03-26    0.031971
2016-03-27    0.030230
2016-03-28    0.035063
2016-03-29    0.034126
2016-03-30    0.033532
2016-03-31    0.031877
2016-04-01    0.034148
2016-04-02    0.035093
2016-04-03    0.038811
2016-04-04    0.037625
2016-04-05    0.012785
2016-04-06    0.003128
2016-04-07    0.001619
Name: proportion, dtype: float64

Data mostly from March 2016 - distribution is fairly even (main outliers at the beginning and end of the date range).

In [212]:
autos["last_seen"].str[:10].value_counts(normalize=True, dropna=False).sort_index()

last_seen
2016-03-05    0.001264
2016-03-06    0.004098
2016-03-07    0.005201
2016-03-08    0.007938
2016-03-09    0.009823
2016-03-10    0.011459
2016-03-11    0.012954
2016-03-12    0.023243
2016-03-13    0.008409
2016-03-14    0.012175
2016-03-15    0.016323
2016-03-16    0.016417
2016-03-17    0.028702
2016-03-18    0.006887
2016-03-19    0.016331
2016-03-20    0.019888
2016-03-21    0.020030
2016-03-22    0.020506
2016-03-23    0.018019
2016-03-24    0.019162
2016-03-25    0.018998
2016-03-26    0.015957
2016-03-27    0.016719
2016-03-28    0.022189
2016-03-29    0.023287
2016-03-30    0.023723
2016-03-31    0.024241
2016-04-01    0.023895
2016-04-02    0.024965
2016-04-03    0.025320
2016-04-04    0.025533
2016-04-05    0.126962
2016-04-06    0.218947
2016-04-07    0.130433
Name: proportion, dtype: float64

Spike in the last 3 days of listing being seen - does this actually indicate removed listings, or is it related to when the web crawling ended?

In [214]:
autos["ad_created"].str[:10].value_counts(normalize=True, dropna=False).sort_index()

ad_created
2014-03-10    0.000003
2015-03-20    0.000003
2015-06-11    0.000003
2015-06-18    0.000003
2015-08-07    0.000003
                ...
2016-04-03    0.039000
2016-04-04    0.037733
2016-04-05    0.011617
2016-04-06    0.003119
2016-04-07    0.001555
Name: proportion, Length: 114, dtype: float64

Wider date range than when the site was crawled - earliest listing in 2014 and a handful in 2015

In [216]:
autos["registration_year"].describe()

count    360667.000000
mean       2004.432659
std          81.013582
min        1000.000000
25%        1999.000000
50%        2004.000000
75%        2008.000000
max        9999.000000
Name: registration_year, dtype: float64

The max and min values do not make sense in the context of years and would seem to be inaccurate

In [218]:
reg_year_sorted_high = autos["registration_year"].value_counts().sort_index(ascending=False).head(50)
reg_year_sorted_low = autos["registration_year"].value_counts().sort_index().head(50)

reg_year_sorted_high

registration_year
9999       18
9450        1
9000        4
8888        2
8500        1
8200        1
8000        2
7800        1
7777        1
7500        1
7100        1
7000        4
6500        1
6200        1
6000        6
5911        2
5900        1
5600        1
5555        2
5300        1
5000       17
4800        1
4500        2
4100        1
4000        3
3800        1
3700        1
3200        1
3000        6
2900        1
2800        1
2500        3
2290        1
2222        1
2200        1
2066        1
2019       17
2018     3814
2017     9996
2016     9224
2015     2922
2014     4769
2013     6122
2012     9359
2011    11996
2010    12271
2009    15498
2008    16035
2007    17506
2006    20005
Name: count, dtype: int64

In [219]:
reg_year_sorted_low

registration_year
1000     32
1001      1
1039      1
1111      1
1234      4
1255      1
1300      2
1400      1
1500      3
1600      2
1602      1
1800      5
1910     58
1911      1
1923      3
1925      1
1927      2
1928      2
1929      8
1930      4
1931      4
1932      4
1933      5
1934      5
1935      5
1936      7
1937     12
1938      8
1939      4
1940      2
1941      4
1942      2
1943      5
1944      2
1945      5
1946      2
1947      5
1948      3
1949      3
1950     21
1951     17
1952     11
1953     17
1954     14
1955     23
1956     31
1957     27
1958     30
1959     43
1960    159
Name: count, dtype: int64

The web crawling exercise stopped in 2016, therefore, registration values post-2016 don't make sense here. When it comes to minimum values, there is a distict jump from 1800 - 1910 (with 58 records). It makes sense to me to set 2016 as the upper bound and 1910 as the lower bound (inclusive).

In [221]:
(~autos["registration_year"].between(1910,2016,inclusive="both")).sum() / autos.shape[0]

0.038747653652815475

Less than 4% of data, I will move forward with removing these outliers

In [223]:
autos = autos[autos["registration_year"].between(1910,2016,inclusive="both")]
autos["registration_year"].value_counts(normalize=True)

registration_year
2000    0.066693
1999    0.063546
2005    0.062667
2006    0.057703
2001    0.056953
          ...
1927    0.000006
1928    0.000006
1946    0.000006
1911    0.000003
1925    0.000003
Name: proportion, Length: 94, dtype: float64

In [224]:
brand_counts = autos["brand"].value_counts(normalize=True)

brand_counts

brand
volkswagen        0.211686
bmw               0.109870
opel              0.106400
mercedes_benz     0.096838
audi              0.089538
ford              0.068911
renault           0.047512
peugeot           0.030151
fiat              0.025689
seat              0.018659
skoda             0.015685
mazda             0.015383
smart             0.014330
citroen           0.013949
nissan            0.013597
toyota            0.012931
hyundai           0.009971
sonstige_autos    0.009519
mini              0.009383
volvo             0.009146
mitsubishi        0.008235
honda             0.007531
kia               0.006914
suzuki            0.006363
alfa_romeo        0.006308
porsche           0.006251
chevrolet         0.005022
chrysler          0.003862
dacia             0.002495
jeep              0.002192
land_rover        0.002166
daihatsu          0.002160
subaru            0.002117
jaguar            0.001736
saab              0.001465
daewoo            0.001457
trabant           0.001408
lancia            0.001301
rover             0.001272
lada              0.000597
Name: proportion, dtype: float64

In [225]:
aggregation_brands = brand_counts[brand_counts > .05].index

aggregation_brands

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford'], dtype='object', name='brand')

In [226]:
brand_mean_price = {}

for brand in aggregation_brands:

    autos_brand = autos[autos["brand"] == brand]
    mean_price = autos_brand["price"].mean()
    brand_mean_price[brand] = mean_price

brand_mean_price

{'volkswagen': 5425.2356315574325,
 'bmw': 8489.620960331837,
 'opel': 2971.8999132509216,
 'mercedes_benz': 8579.526583862033,
 'audi': 9102.670575349526,
 'ford': 3696.4059687748527}

These brands come in at different price points categories - while Audi, BMW, and Mercedez Benz are high, Ford & Opel are low. Volkswagen sits between these categories.

In [228]:
brand_mean_km = {}

for brand in aggregation_brands:

    autos_brands = autos[autos["brand"] == brand]
    mean_km = autos_brands["odometer_km"].mean()
    brand_mean_km[brand] = mean_km

brand_mean_km

{'volkswagen': 128386.6330562747,
 'bmw': 132790.42293455146,
 'opel': 128722.61982216439,
 'mercedes_benz': 130566.22881482143,
 'audi': 129441.07982733072,
 'ford': 123662.25775396593}

In [229]:
bmp_series = pd.Series(brand_mean_price)
pd.DataFrame(bmp_series, columns = ["mean_price"])

                mean_price
volkswagen     5425.235632
bmw            8489.620960
opel           2971.899913
mercedes_benz  8579.526584
audi           9102.670575
ford           3696.405969

In [230]:
bmkm_series = pd.Series(brand_mean_km)
brand_data = pd.DataFrame(bmkm_series, columns = ["mean_km"])

brand_data

                     mean_km
volkswagen     128386.633056
bmw            132790.422935
opel           128722.619822
mercedes_benz  130566.228815
audi           129441.079827
ford           123662.257754

In [231]:
brand_data["mean_price"] = bmp_series

brand_data

                     mean_km   mean_price
volkswagen     128386.633056  5425.235632
bmw            132790.422935  8489.620960
opel           128722.619822  2971.899913
mercedes_benz  130566.228815  8579.526584
audi           129441.079827  9102.670575
ford           123662.257754  3696.405969

All brands have a similar odometer reading, which does not appear to be the main driver of price